{% extends 'base.html.twig' %}

{% block body %}
  <h1>{{ product.name }}</h1>

  <form method="post">
    <label>
      <input type="number" name="qty" value="1" />
    </label>
    <button type="submit">add to cart</button>
  </form>
{% endblock %}

