<html>
<head>
  <meta charset="UTF-8">
  <title>Title of the PDF</title>
</head>
<body>
<h4>{{ title }}</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid animi assumenda distinctio, dolorem doloremque doloribus facilis hic illum inventore ipsam iusto magni quia repellendus sapiente tempora velit voluptate voluptates.</p>
</body>
</html>
